@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/SiteStyles")*@
    <link href="~/Content/site.min.css" rel="stylesheet" />
    <link href="~/Content/login.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        @Html.Partial("_LoginPartial")
        @RenderBody()
    </div>
</body>
</html>
