@model Cms4.TestPlugin.Models.SignInModel

@using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new {@class = "cms-sign-in-form"}))
{
    @Html.AntiForgeryToken()

    @Html.EditorForModel()

    <button type="submit">Sign In</button>
}
